
    :root {
      --bunny: rgb(2, 24, 31);
    }
    
    
    .bunny__one, 
    .bunny__two{
        position:absolute;
        width:50px;
        height:45px;
        border-radius:100%;
        background:var(--bunny);
        filter: blur(.8px);
        
        }
     
      .head__one,
      .head__two{
        position:absolute;
        width:35px;
        height:35px;
        border-radius:100%;
        background: var(--bunny);
        
      }
        .head__one{
          margin:-21px 21px;
        }
        .head__two{
          margin:-21px -12px;
        }
      .tail__one,
      .tail__two{
        position:absolute;
        width:21px;
        height:21px;
        border-radius:100%;
        background:rgb(112, 26, 75);
      }
      .tail__one{margin:33px -30px}
      .tail__two{margin:33px 45px}
      .ear{
        position:absolute;
        width:17px;
        height:50px;
        border-radius:100%;
        background: var(--bunny);
        margin:-30px 0px;
        
      }
      .ear::before{
        content:"";
        position:absolute;
        width:17px;
        height:50px;
        border-radius:100%;
        background: var(--bunny);
        margin:0px 21px
      }

      .bunny__one {
        animation: increase 5s alternate infinite;
      }
      .bunny__two {
        animation: increase 8s alternate infinite;
      }
    
   
      @keyframes increase {
        0% {transform: translateY(0);}
        50%,100% {transform: translateY(95px);}
      }