 /* drawing Wall */

 .wall {
    width: 250px;
    background-color: var(--background-walls);
    box-shadow: var(--shadow);
    border-radius: 50px 50px 0 0;
    overflow: hidden;
}
    .grass {
        position: absolute;
        width: 100%;
        height: 100px;
       
    }
    .grass-one {
        z-index: 2;
        top: 0;
        background: linear-gradient(135deg, var(--grass-one) 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, var(--grass-one)  25%, transparent 25%) -50px 0;
        background-size: 20px 200px;

    }
    .grass-two {
        z-index: 1;
        top: 10px;
        background: linear-gradient(135deg, var(--grass-two) 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, var(--grass-two)  25%, transparent 25%) -50px 0;
        background-size: 20px 220px;
    }